<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>

        {%  load static %}
        {%  load filter %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Default' %}">/NewsPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'search_all_posts' %}">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href='#'>LogIn</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div>
                <div class="text-center mt-5">
                <h1>Searching</h1>
                </div>
               <p>___________________________</p>
                <form action="" method="get">
                    {{ filters.form.as_p }}
                    {{ filterset.form.non_field_errors }}
                    {{ filterset.form.name__icontains.errors }}
                    <label for="dateCreation">Date and time:</label>
                    <input id="dateCreation" type="datetime-local" name="date"/>
                    <p><input type="submit" value="Search"/></p>
                </form>
                {% if perms.news.add_post %}
                <p> or <b>Create:</b></p>
                <a href="{% url 'create_article' %}">Article</a> | <a href="{% url 'create_news' %}">News</a>
                {% endif %}
                <p>___________________________</p>
                {% if Posts %}
                {% for n in Posts %}
                <p><i><b>{{ n.title|censor }}</b></i> {{ n.dateCreation|date:"d.m.Y" }}</p>
                <p>{{ n.dateCreation|date:"H:i:s" }}</p>
                <p>{{ n.text|truncatechars:128|censor }}</p>
                <p>Topic: <a href="{% url 'topics' n.postTopic.id %}">{{ n.postTopic.name }}</a></p>
                <a href="{{ n.get_absolute_url }}">⇨ Read more</a>
                {% endfor %}
                    <p>___________________________</p>
                    <p>{% include 'pagination.html' %}</p>
                {% endif %}
                {% block title %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
